<% layout('layouts/boilerplate') %>


<div class="container">
  <div class="row">
    
      <section class="content-container">
        <div class="mb-3 blog-header">
          <% if (currentUser && currentUser.isAdmin === true) {%>
          <a class="btn btn-primary" href="/blogs/new">Add Blog</a>
          <% } %>
        </div>
        <h2>Blogs:</h2>
        <% for(let blog of blogs){ %>
              <div class="card mb-3 mt-3" style="max-width: 440px;" > 
                <div class="row g-0">
                  <div class="col-md-5">
                    <% if(blog.images.length) {%>
                      <img src="<%= blog.images[0].url %>" alt="" class="img-fluid rounded-start h-100" style="object-fit: cover;">
                      <% }else { %>
                          <img src="https://res-console.cloudinary.com/dslkrakk7/media_explorer_thumbnails/ca74f628ccde225f609c686ab4b4bde0/detailed" alt="" class="img-fluid">
                      <% } %>                  
                  </div>
                  <div class="col-md-7">
                    <div class="card-body">
                       <h5 class="card-title"><%= blog.title %></h5>
                      <p class="card-text"></p>
                      <p class="card-text"><small class="text-body-secondary"><%= blog.formattedDate %></small></p>
                      <a class="btn btn-primary" href="/blogs/<%= blog._id %>">View</a>
                    </div>
                  </div>
                </div>
              </div>
        <% } %>  
      </section>
  </div>
</div>

