body{
    height: 100vh;
}



.navbar{
    /* border: solid 1px red; */
}

.custom-container{
    width: 60%;
    /* border: solid 2px blue; */
}

.collapse{
    /* border: solid 2px blue; */
    justify-content: flex-end;
}

.navbar-nav{
    /* border: solid 1px red; */
    justify-content: flex-end;
}

.content-container{
    /* border: solid 1px red; */
    
}
.blog-header{
    /* border: solid 1px blue; */
   
}



.body-cont{
    /* border: solid 2px red; */
    width: 60%;
}
.img-container{
    /* border: blue 2px solid; */
    position: relative;
    width: 100%; /* Ensure the container takes full width */
    height: 0; /* Set initial height to 0 to maintain aspect ratio */
    padding-bottom: 35%;   /* Aspect ratio (9:16) */
}


.blog-img{
    /* border: solid 2px red; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-position: center;
    
}

.blog-img img {
    width: 100%; /* Cover the entirety of the container */
    height: 100%;
    object-fit: cover; /* Ensure the image covers the container */
    object-position: center;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: 1px red solid; */
    width: 20%
}

.footer{
    margin-top: 21vh;
}